.flex           { display: flex; }
.space-between  { justify-content: space-between; }
.flex-grow      { flex: 1; }

.grid {display: grid; }

.inline-block { display: inline-block; }
.inline-flex { display: inline-flex; }

.absolute { position: absolute; }
.fixed { position:fixed; }

.top-0    { top: 0; }
.top-20    { top: 20px; }
.top-30p {top: 30%;}

.left-0   { left: 0; }
.left-50p {left: 50%;}

.right-20 { right: 20px; }

.full-height  { min-height: 100vh; }
.height-100   { height: 1em; }
.height-130   { height: 1.3em; }

.width-100      { width: 100%; }
.min-width-0    { min-width: 0; }
.min-width-200  { min-width: 200px; }
.max-width-300  { max-width: 300px; }
.max-width-600  { max-width: 600px; }

.vertical-align-middle { vertical-align: middle; }
.justify-content-center { justify-content: center;}

.margin-0 { margin: 0; }
.padding-0 { padding: 0 }

.margin-top-sm    { margin-top: $margin-sm; }
.margin-right-sm  { margin-right: $margin-sm; }
.margin-bottom-sm { margin-bottom: $margin-sm; }

.margin-top-md    { margin-top: $margin-md; }
.margin-right-md  { margin-right: $margin-md; }
.margin-bottom-md { margin-bottom: $margin-md; }
.margin-bottom-xl { margin-bottom: $margin-xl; }

.margin-top-lg    { margin-top: $margin-lg; }
.margin-right-xl  { margin-right: $margin-xl; }

.padding-md   { padding: $margin-md; }
.padding-x-lg { padding-left: $margin-lg; padding-right: $margin-lg; }
.padding-y-xl { padding-top: $margin-xl; padding-bottom: $margin-xl; }
.padding-x-xxl { padding-left: $margin-xxl; padding-right: $margin-xxl; }
.padding-top-xxl{ padding-top: $margin-xxl; }
.padding-bottom-lx { padding-bottom: $margin-xl;}

.float-right { float: right }
.float-left { float: left }

.transform-translate-m50 { transform: translate(-50%, -50%); }

.z-index-1 { z-index: 1;}
.cursor-pointer {cursor: pointer;}